* {
  margin: 0;
  font-family: sans-serif;
}

header {
  position: sticky;
}

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project {
  width: 32%;
  margin: auto;
  display: inline-block;
  text-align: center;
}
